.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-button-width: 52px;

  width: 100%;
  height: var(--default-layout-header-height, 60px);
  box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-lauout-width);
  padding: 0 24px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  min-width: 300px;
  display: flex;
  align-items: center;
}

.search-result,
.search {
  margin: 0 8px;
  min-width: 184px;
}

.search {
  position: relative;
  display: flex;
  padding: 0 16px;
  width: 500px;
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  border: 1.5px solid transparent;
  align-items: center;

  input {
    font-family: 'TiktokFont', sans-serif;
    line-height: 21px;
    flex: 1;
    color: var(--black);
    font-weight: 400;
    font-size: 1.6rem;
    width: 100%;
    font-size: 1.6rem;
    border: none;
    outline: 5;
    background-color: transparent;
  }

  input::placeholder {
    color: var(--text-color);
    opacity: 0.7;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  .line-seperate {
    width: 1px;
    height: 28px;
    margin: -3px 0;
    background: rgba(22, 24, 35, 0.12);
  }

  &:hover,
  &:focus-within {
    border: 1px solid rgba(22, 24, 35, 0.2);
  }

  &:hover {
    .search-btn {
      background-color: rgba(22, 24, 35, 0.06);
      color: rgba(22, 24, 35, 1);
    }
  }
}

@media screen and (max-width: 600px) {
  .search {
    display: none;
  }
}

.search-btn {
  background-color: transparent;
  width: var(--search-button-width);
  height: 100%;
  padding: 11px 16px 11px 12px;
  margin: -12px -16px -12px 0px;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.6rem;
  color: rgba(22, 24, 35, 0.34);
  cursor: pointer;
}

.search-title {
  padding: 5px 12px;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
  position: absolute;
  right: var(--search-button-width);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}

.actions {
  display: flex;
  align-items: center;
  width: 328px;
  justify-content: flex-end;
}

.more-btn {
  font-size: 2rem;
  padding: 4px;
  margin-left: 24px;
  background-color: transparent;
  cursor: pointer;
}

.action-btn {
  color: #161823;
  font-size: 2.6rem;
  line-height: 18px;
  background-color: transparent;
  margin-left: 20px;
  align-items: center;
  cursor: pointer;
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}
